{% extends 'base.html.twig' %}

{% block body %}

  <div class="container mt-4">

    <p class="h1 text-center">Contact us!</p>

    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
    
  </div>

  
  

{% endblock %}