{% extends 'base.html.twig' %}

{% block title %}LaGomba{% endblock %}

{% block body %} 
  <div class="container">
    <p class="h3 text-center m-3">complete message</p>
      <div class="card m-5 border border-warning border-3">
        <div class="card-body"> 
            {{ contact.message }}                    
        </div>
      </div>    
  </div>  
{% endblock %}
