{% extends 'base.html.twig' %}

{% block title %}LaGomba{% endblock %}

{% block body %} 
	<p>All contact messages from your Homepage :)</p>
	<div>
		
			<table class="table table-striped">
    			<thead>
    			  <tr>
    			    <th>name</th>
    			    <th>message</th>
    			    <th>Email</th>
    			  </tr>
    			</thead>
    			<tbody>
    			{% for contact in contact %}
    			  <tr>
    			    <td>{{ contact.name }}</td>
    			    <td>{{ contact.message }}</td>
    			    <td>{{ contact.email }}</td>
    			  </tr>    			  
 			   </tbody>
 			 </table>

		{% endfor %}
	</div>

{% endblock %}
