<!-- Footer -->
<footer class="page-footer font-small unique-color-dark bg-warning">

  <div class="bg-secondary">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

      
      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class=" text-md-left">

    <!-- Grid row -->
    <div class="row mt-3 p-3">

      <!-- Grid column -->
      <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">LaGomba</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>A Vienna based small scale mushroom farm that cultivates delicious Oyster mushrooms.</p>
        <br>
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Austernpilz and Oyster mushroom</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">social media</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="text-secondary" href="https://www.facebook.com/LaGomba-103065104591559">Facebook</a>
        </p>        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">products</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="text-secondary" href="/">About mushrooms</a>
        </p>
        <p>
          <a class="text-secondary" href="/products">Products</a>
        </p>
        <p>
          <a class="text-secondary" href="/nora">About us</a>
        </p>
        <p>
          <a class="text-secondary" href="/recipes">Recipes</a>
        </p>
        <p>
          <a class="text-secondary" href="/contact">Contact</a>
        </p>  

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="text-secondary" href="https://www.google.com/maps/place/Markhofgasse+19,+1030+Wien/@48.193246,16.408909,15z/data=!4m5!3m4!1s0x476d075b1edff245:0xaef7a8ddf96bc82d!8m2!3d48.1932458!4d16.4089088?hl=de"><i class="fas fa-home mr-2"></i>Markhofgasse 19, 1030 Wien
        </p></a>
        <p>
          <i class="fas fa-envelope mr-2"></i> rr.noar@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-2"></i>+43 664 564 40 86</p>
        
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
    <a class="text-secondary" href="/"> LaGomba</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->