<style>
  .head {
  height: 30em;
  background-image: url("img/header.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
</style>

<div class="head">  
  <h1 class="text-white font-weight-bold">LaGomba</h1> 
  <p class="text-white font-weight-bold">Urban Mushrooms</p> 
</div>

<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-warning mb-3">
	
    <img src="img/LaGomba_logo_transparent_bg.png" alt="Logo" style="width:110px;">
  
  <!-- Links -->
  <ul class="navbar-nav p-3">
    <li class="nav-item ">
      <a class="nav-link text-secondary font-weight-bold" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary font-weight-bold" href="/about">About Nora</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary font-weight-bold" href="/rezepte">Rezepte</a>
    </li>
  </ul>

</nav>